.square{
    color: white;
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.main-container{
    display: flex;
    flex-direction: column;
}

#change-grid-button{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 3vh;
}

#squares-container{
}

.square{
}

.line-container{
    display: flex;
    justify-content: center;
}